@{
    ViewData["Title"] = "사용자 관리";
    Layout = "~/Views/Shared/_LayoutDataView.cshtml";
}

@using App.Model;
@model List<Roles>;

<div class="DataViewBody bg-light border rounded-3">
    <div class="DataViewContent list-group list-group-flush border-bottom scrollarea">
        <div class="DataViewHeader">
            <h3>사용자 관리</h3>
            <hr />
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div>
                    <input type="search" placeholder="검색" aria-label="Search" oninput="searchText(this.value)">
                </div>
                <button type="button" class="btn btn-warning btn-sm" onclick="locationAccountRegisterPage()">사용자
                    등록</button>
                <button type="button" class="btn btn-success btn-sm" onclick="locationRolesListPage()">권한 조회</button>
                <button type="button" class="btn btn-info btn-sm" onclick="locationLockListPage()">Lock 계정 조회</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="locationAuthorizationPage()">미승인
                    사용자</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="locationRegisteredListPage()">미등록
                    사용자</button>
            </div>
        </div>

        <div class="table-responsive bg-white">
            <table class="table table-hover table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">코드</th>
                        <th scope="col">이메일</th>
                        <th scope="col">이름</th>
                        <th scope="col">부서</th>
                        <th scope="col">연락처</th>
                        <th scope="col">권한</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="TableList">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateUserInfoModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel">사용자 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="UpdateUserInfomation" id="FormUpdateUserInfo">
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="UserCd" name="UserCd" required>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserDept" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="UserEmails" name="UserEmails" required>
                        <div class="invalid-feedback">
                            이메일을 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserDept" class="form-label">부서</label>
                        <input type="text" class="form-control" id="UserDept" name="UserDept">
                        <div class="invalid-feedback">
                            부서를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblUserContact" class="form-label">연락처</label>
                        <input type="text" class="form-control" id="UserContact" name="UserContact">
                        <div class="invalid-feedback">
                            연락처를 입력해주세요.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lblAuthorization" class="form-label">권한</label>
                        <select id="AuthorizationName" name="UserAuthorization" class="form-select" required>
                            <option disabled selected hidden>권한을 선택하세요.</option>
                        </select>

                        <div class="invalid-feedback">
                            권한을 선택해주세요.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="FormUpdateUserInfo"
                    onclick=RequestUpdateUserInfomation()>등록</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoveConfirmModal" tabindex="-1" aria-labelledby="RemoveConfirmModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사용자 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="DeleteUser" id="FormRemoveUser">
                    <div class="mb-3">
                        <label for="UserNm" class="form-label">User CD</label>
                        <input type="text" class="form-control" id="RemoveUserCd" name="UserCd" rows="3" required
                            readonly>
                    </div>

                    <div class="mb-3">
                        <label for="UserId" class="form-label">User ID</label>
                        <input type="text" class="form-control" id="RemoveUserId" name="UserEmail" rows="3" required
                            readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="FormRemoveUser"
                    onclick="RequestDeleteUser()">삭제</button>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        RequestUserList();
        RequestAuthorizationList();
    }());

    function searchText(itme){
        let TableRows =  $("#TableList").find("tr")

        for(var i = 0; i < TableRows.length; i++){
            if (TableRows[i].innerText.includes(itme)) {
                if (itme.trim() === '') {
                    TableRows[i].bgColor = ''
                }else{
                    TableRows[i].bgColor = '#87CEFA'
                }
            }else{
                TableRows[i].bgColor = ''
            }
        }
    }

    function displayDataView(data){
        let html = "";
        $("#TableList tr").empty();

        for (var i = 0; i < Object.keys(data).length; i++) {
            html += "<tr>"
            html += `<td id=USER_ID_${data[i]['USER_CD']}>${data[i]['USER_ID']}</td>`
            html += `<td id=USER_CD_${data[i]['USER_CD']}>${data[i]['USER_CD']}</td>`
            html += `<td id=USER_EMAILS_${data[i]['USER_CD']}>${data[i]['USER_EMAIL']}</td>`
            html += `<td id=USER_NM_${data[i]['USER_CD']}>${data[i]['USER_NM']}</td>\n`
            html += `<td id=USER_DEPT_${data[i]['USER_CD']}>${data[i]['USER_DEPT']}</td>`
            html += `<td id=USER_CONTACT_${data[i]['USER_CD']}>${data[i]['USER_CONTACT']}</td>`
            html += `<td id=ROLE_NM_${data[i]['USER_CD']}>${data[i]['ROLE_NM']}</td>`
            html += "</tr>"
        }
        
        $("#TableList").append(html);
    }

    // 역할 리스트 표시
    function getAuthorizationList(data) {
        let html = "";
        $("#AuthorizationName option").empty();

        html += "<option disabled selected hidden>권한을 선택하세요.</option>"

        for (var i = 0; i < Object.keys(data).length; i++) {
            html += "<option>" + data[i]["Name"] + "</option>"
        }

        $("#AuthorizationName").append(html);
    }

    // 사용자 정보 변경 다이얼로그
    var UpdateUserInfoModal = document.getElementById('UpdateUserInfoModal')
    UpdateUserInfoModal.addEventListener('show.bs.modal', function (event) {
        var modalTitle = UpdateUserInfoModal.querySelector('.modal-title')
        modalTitle.textContent = '사용자 정보'

        var button = event.relatedTarget;
        var recipient = button.getAttribute('data-bs-whatever')

        $("#UserCd").val($("#USER_CD_" + recipient).text());
        $("#UserEmails").val($("#USER_EMAILS_" + recipient).text());
        $("#UserDept").val($("#USER_DEPT_" + recipient).text());
        $("#UserContact").val($("#USER_CONTACT_" + recipient).text());
        $("#UserAuthorization").val($("#ROLE_NM_" + recipient).text());
    })

    // 사용자 제거 확인 다이얼로그
    let RemoveUserModal = document.getElementById('RemoveConfirmModal')
    RemoveUserModal.addEventListener('show.bs.modal', function (event) {
        let modalTitle = RemoveUserModal.querySelector('.modal-title')
        modalTitle.textContent = '알림'

        let button = event.relatedTarget;
        let recipient = button.getAttribute('data-bs-whatever')
        recipient = $("#USER_ID_" + recipient).text() + "##" + recipient;

        $("#RemoveUserCd").val($("#USER_ID").text());
        $("#RemoveUserId").val($("#USER_EMAIL").text());

        if (recipient !== "##null") {
            let UserCd = recipient.split("##")[0];
            let UserId = $("#USER_EMAILS_" + recipient.split("##")[1]).text();
            $("#RemoveUserCd").val(UserCd);
            $("#RemoveUserId").val(UserId);
        }

        $("#RemoveUser").attr("onclick", "requestRemoveUser('" + recipient + "')");
    })
</script>