@page
@model PersonalDataModel
@{
    ViewData["Title"] = "개인정보";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-light">개인정보</h4>

<div class="row">
    <div class="col-md-6 text-light">
        <p>이 페이지에서 개인정보를 다운로드하거나 삭제할 수 있습니다.</p>
        <p>
            <strong>개인정보를 삭제하면 복구 할 수 없습니다.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-success" type="submit">내보내기</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-warning">삭제</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}