@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "계정 등록 확인";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    현재 이메일은 확인되지 않았습니다.
    <a href="https://aka.ms/aspaccountconf"></a> 
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">계정을 확인하려면 여기를 눌러주세요</a>
</p>
    }
    else
    {
<p>
        계정을 확인하려면 이메일을 확인하십시오.
</p>
    }
}
